<template>
  <div class="home">
    <h2 class>Freizeitorganisator</h2>
    <div v-if="created === false">
      <CreateView />
    </div>
    <div v-else>
      <ShowView />
    </div>
  </div>
</template>

<script>
import CreateView from "./CreateView";
import ShowView from "./ShowView";

export default {
  data: () => {
    return {
      created: false
    };
  },

  components: {
    CreateView,
    ShowView
  },
  created() {
    this.created = $cookies.isKey("event") && $cookies.isKey("user");
  }
};
</script>


<style>
body {
  margin: 0;
  }

p {
  margin: 0.2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.67em 0;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #909090;
}

textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #909090;
}

button {
  padding: 1rem;
  margin: 0.5rem;
  background: #0b80c4;
  color: #ffffff;
}

button:active {
  background: #096194;
  color: #ffffff;

}

button:focus {
  outline: 0;
}

.home {
  /* background: linear-gradient(90deg, #1a35aa 0%, #2347e7 100%); */
  background: #ffffff;
  color: #2c2c2c;
  text-align: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
}

.event-button-box {
  border-bottom: 0px solid #909090;
}

.event-button-box > button {
  letter-spacing: 0.05rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-box {
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1rem;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.username-box {
}

.username-box > input {
  border: 1px solid #909090;
}

.password-box {
}

.password-box > input {
  border: 1px solid #909090;
}

.form-buttons {
  align-items: center;
}
</style>
