<template>
  <div class="CreateView">
    <form>
      <p id="error">
        <span v-for="e in errors">{{e}}</span>
      </p>
      <section v-if="step===1">
        <h3>Beschreibung des Events</h3>
        <div class="event-title">
          <p>Veranstaltungstitel</p>
          <input v-model="form.topic" type="text" placeholder="Titel der Veranstaltung" />
        </div>
        <div class="event-description">
          <p>Veranstaltungsbechreibung</p>
          <textarea v-model="form.description"></textarea>
        </div>
      </section>
      <section v-if="step===2">
        <h3>Zeitraum festlegen</h3>
        <p>In welchem Zeitraum findet die Veranstaltung statt?:</p>
        <date-picker
          range
          v-model="form.period"
          lang="de"
          type="datetime"
          value-type="format"
          format="YYYY-MM-DD HH:mm"
          :disabled-date="notBeforeToday"
        ></date-picker>
        <p>
          Wie lange soll die Veranstaltung mindestens gehen?
          <date-picker
            v-model="form.duration"
            lang="de"
            type="time"
            value-type="format"
            format="HH:mm"
            :disabled-date="notBeforeToday"
          ></date-picker>
        </p>
        <p>
          Wann sollte man sich spätestens entschieden haben?
          <date-picker
            v-model="form.deadline"
            lang="de"
            type="datetime"
            value-type="format"
            format="YYYY-MM-DD HH:mm"
            :disabled-date="notBeforeToday"
          ></date-picker>
        </p>
      </section>
      <section v-if="step===3">
        <h3>Und wer bist du?</h3>
        <p>
          Vorname
          
        </p><input v-model="form.firstname" type="text" placeholder="Max" />
        <p>
          Nachname
          
        </p><input v-model="form.lastname" type="text" placeholder="Mustermann" />
        <p>
          e-Mail Adresse
          
        </p><input v-model="form.email" type="email" placeholder="max@musterman.de" />
      </section>
      <section v-if="step===4">
        <h3>Freunde einladen</h3>

        <p>Vorname</p>
        <input v-model="participant.firstname" type="text" placeholder="Max" />
        <p>Nachname</p>
        <input v-model="participant.lastname" type="text" placeholder="Mustermann" />
        <p>e-Mail Adresse</p>
        <input v-model="participant.email" type="email" placeholder="max@musterman.de" />
        <button @click.prevent="addParticipant" class="add">Hinzuf&uuml;gen</button>
        <p v-if="participants.size >0 ">Liste der hinzugef&uuml;gten:</p>
        <p v-for="par in participants">{{par.firstname}} {{par.lastname}}</p>
        <p></p>
      </section>
      <button v-if="step !== 1" @click.prevent="previousStep">Zur&uuml;ck</button>
      <button v-if="step !== totalsteps" @click.prevent="nextStep">Weiter</button>
      <button v-if="step === totalsteps" @click.prevent="sendEnquiry">Fertig</button>
    </form>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  data: () => {
    return {
      step: 1,
      totalsteps: 4,
      errors: [],
      form: {
        topic: null,
        description: "",
        period: null,
        deadline:null,
        firstname: null,
        lastname: null,
        email: null,
        duration: null,
        participants: []
      },
      timePickerOptions: {
        start: "00:00:00",
        step: "00:01",
        end: "23:59"
      },
      participants: [],
      participant: {
        firstname: null,
        lastname: null,
        email: null
      }
    };
  },
  methods: {
    notBeforeToday: function(date) {
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      return date < today;
    },
    nextStep: function() {
      switch (this.step) {
        case 1:
          if (!this.form.topic) {
            this.errors = "Bitte geb einen Titel an ";
            return false;
          }
          if (!this.form.description) {
            this.errors = "Bitte geb eine Beschreibung an ";
            return false;
          }
          break;
        case 2:
          if (!this.form.period) {
            this.errors = "Geben Sie bitte einen Zeitraum an";
            return false;
          }

          break;
        case 3:
          if (!this.form.firstname) {
            this.errors = "Bitte geb deinen Vornamen an ";
            return false;
          }
          if (!this.form.lastname) {
            this.errors = "Bitte geb deinen Nachnamen an ";
            return false;
          }
          if (!this.form.email) {
            this.errors = "Bitte geb deine Email Adresse an ";
            return false;
          }

          break;
      }
      this.errors = [];
      this.step++;
    },
    previousStep: function() {
      this.step--;
    },

    addParticipant: function() {
      if (this.participant.firstname === null) {
        this.errors = "Bitte gebe einen Vornamen ein";
        return false;
      }
      if (this.participant.lastname === null) {
        this.errors = "Bitte gebe einen Nachnamen ein";
        return false;
      }
      if (this.participant.email === null) {
        this.errors = "Bitte gebe eine Email Adresse ein";
        return false;
      }
      this.errors = null;
      this.participants.push({
        firstname: this.participant.firstname,
        lastname: this.participant.lastname,
        email: this.participant.email
      });
      this.participant.firstname = null;
      this.participant.lastname = null;
      this.participant.email = null;
    },
    sendEnquiry: function() {
      this.axios
        .post(
          "/api/eventset/",
          {
            owner: {
              firstname: this.form.firstname,
              lastname: this.form.lastname,
              email: this.form.email
            },
            event: {
              topic: this.form.topic,
              description: this.form.description,
              duration: this.form.duration,
              begin: this.form.period[0],
              end: this.form.period[1],
              deadline: this.form.deadline
            },
            participants: this.participants
          },
          { emulateJSON: true }
        )
        .then(response => {
          window.open(
            "/leisure?id=" +
              response.data.groupid +
              "&user=" +
              response.data.ownerid,
            "_self"
          );
        });
    }
  },
  components: {
    DatePicker
  }
};
</script>


<style>
body {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.67em 0;
}

#error {
  color: red;
}

section {
  margin: 2rem;
}

button {
  padding: 1rem;
  margin: 0.5rem;
  background: #0b80c4;
  color: #ffffff;
  border-radius: 0.5rem;
}

button:active {
background: #096194;
color: #ffffff;

}

button:focus {
  outline: 0;
}

.event-button-box > button {
  letter-spacing: 0.05rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-box {
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1rem;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.username-box {
}

.username-box > input {
  border: 1px solid #909090;
}

.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div.left {
  left: 0;
}

div.right {
  right: 0;
}

.password-box > input {
  border: 1px solid #909090;
}

.event-title {
  margin: 1rem;
}

.event-description {
  margin: 1rem;
}

.add {
    padding: 0.6rem;
}
</style>
