<template>
    <div class="ShowView">
        <h3>{{this.event.topic}}</h3>
        <p><i>{{this.event.description}}</i></p>
        <p>Der Zeitraum wurde vom <b>{{this.event.formatbegin}} </b> bis zum
            <b>{{this.event.formatend}}</b></p>
        <p>Die Veranstaltung dauert {{this.event.duration}} Stunden.</p>
        <div class="split left">

          <date-picker
                    value-type="format"
                    type="datetime"
                    format="YYYY-MM-DD HH:mm"
                    v-model="this.time"
                    :disabled-date="inTime"
                    @change="handleChange"
                    :time-picker-options="{start: '00:00', step: '00:01',end: '23:59'}"

            ></date-picker>
            <p>Wer kann wann? </p>
            <nav v-for="date in this.days">
                <div>
                    <h3>{{date.format}}</h3>
                    <ul v-if="event !== undefined">
                        <li v-for="pos in event.datepossibillities"
                            v-if="date.end > new Date(pos.begin) && date.raw < new Date(pos.begin)">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="split right">
            <h3>Vorschl&auml;ge:</h3>

            <ul class="right" v-for="proposal in event.proposals">
                <li>{{proposal.title}}</li>
            </ul>
            <p><input type="text" v-model="proposaltitle"></p>

            <button @click.prevent="sendProposal">Vorschlag senden</button>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";


    export default {
        data: () => {
            return {
                time: null,
                userid: null,
                eventid: null,
                user: {
                    firstname: null,
                    lastname: null,
                    email: null,
                },
                event: {
                    topic: null,
                    description: null,
                    formatbegin: null,
                    formatend: null,
                    rawend: null,
                    rawbegin: null,
                    duration: null,
                    deadline: null,
                    participants: [],
                    proposals: [],
                    datepossibillities: []
                },
                days: [],
                proposaltitle: null

            };
        },
        components: {
            DatePicker
        },
        methods: {
            inTime: function (date) {
                console.log(date);
                return true;
            },
            handleChange: function (value, type) {
                if (type === 'minute') {
                    if (this.stompClient && this.stompClient.connected) {

                        const msg = {
                            begin: value,
                            participant: {
                                pid: this.userid
                            }
                        };
                        console.log(msg)
                        this.stompClient.send("/datepossibility/" + this.eventid, JSON.stringify(msg), {});

                    }
                }
            },
            formatDate: function (date, withtime) {
                if (date == null) {
                    return "";
                }
                var result = (date.getDate() > 9 ? date.getDate() : '0' + date.getDate()) + '.' +
                    ((date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1)) + '.' +
                    date.getFullYear() + ' ';
                if (withtime) {
                    result = result +
                        (date.getHours() > 9 ? date.getHours() : '0' + date.getHours()) + ':' +
                        (date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes()) +
                        ' Uhr';
                }
                return result;
            },
            getDatesBetween: function () {
                var currentDate = this.event.rawbegin;
                while (currentDate <= this.event.rawend) {
                    var date = new Date(currentDate);
                    date.setHours(0, 0, 0);
                    var dateobject = {};
                    dateobject.raw = date;
                    dateobject.end = new Date(currentDate.getTime() + 86400000);
                    dateobject.format = this.formatDate(date, false);
                    this.days.push(dateobject);
                    currentDate.setTime(currentDate.getTime() + 86400000);
                }
            },
            sendProposal: function () {

                if (this.stompClient && this.stompClient.connected && this.proposaltitle) {
                    const msg = {
                        title: this.proposaltitle,
                        author: {
                            pid: this.userid
                        }
                    };
                    this.stompClient.send("/proposal/" + this.eventid, JSON.stringify(msg), {});
                    this.proposaltitle = ""
                }
            }
            ,
            connect: function () {
                this.socket = new SockJS("/leisure/socket");
                this.stompClient = Stomp.over(this.socket);
                this.stompClient.connect(
                    {},
                    frame => {
                        this.connected = true;
                        console.log(frame);
                        this.stompClient.subscribe("/topic/proposal/" + this.eventid, tick => {
                            this.event.proposals.push(JSON.parse(tick.body));
                        });
                        this.stompClient.subscribe("/topic/datepossibility/" + this.eventid, tick => {
                            this.event.datepossibillities.push(JSON.parse(tick.body));
                        });
                    },
                    error => {
                        console.log(error);
                        this.connected = false;
                    }
                );
            }
            ,
            disconnect: function () {
                if (this.stompClient) {
                    this.stompClient.disconnect();
                }
                this.connected = false;
            }
            ,
            tickleConnection: function () {
                this.connected ? this.disconnect() : this.connect();
            }
        },
        mounted() {
            this.userid = $cookies.get('user');
            this.eventid = $cookies.get('event');
            this.axios.get('http://localhost:8080/api/event/' + this.eventid, {"Content-type": "application/json"})
                .then(response => {

                    this.event.topic = response.data.topic;
                    if (this.event.topic == null){
                        this.$cookies.remove("event");
                        this.$cookies.remove("user");
                        window.open("/", '_self')
                        return;
                    }
                    this.event.description = response.data.description;
                    this.event.rawbegin = new Date(new Date(response.data.begin));
                    this.event.formatbegin = this.formatDate(this.event.rawbegin);
                    this.event.rawend = new Date(new Date(response.data.end));
                    this.event.formatend = this.formatDate(this.event.rawend);
                    this.event.duration = response.data.duration;
                    this.event.proposals = response.data.proposals;
                    this.event.deadline = new Date(response.data.deadline);
                    this.event.datepossibillities = response.data.possibilities;
                    this.getDatesBetween();

                }, error => {
                    console.log(error);
                });
            this.axios.get('http://localhost:8080/api/participant/' + this.userid, {"Content-type": "application/json"})
                .then(response => {
                    console.log(response.data)
                    this.user.firstname = response.data.participant.firstname;
                    this.user.lastname = response.data.participant.lastname;
                    this.user.email = response.data.participant.email;

                }, error => {
                    console.log(error);
                });

            this.connect();
        }
        
       
    }
    ;
</script>


<style>
    body {
        margin: 0;
    }

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;
    }

    h1 {
        font-size: 3em;
        margin: 0.67em 0;
    }

    h2 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0.67em 0;
    }

    button {
        padding: 1rem;
        margin: 0.5rem;
        background: deepskyblue;
        color: #ffffff;
    }

    nav ul {
        height: 200px;
        width: 100%;
    }

    nav ul {
        overflow: hidden;
        overflow-y: scroll;
    }

    .home {
        /* background: linear-gradient(90deg, #1a35aa 0%, #2347e7 100%); */
        background: #ffffff;
        color: #2c2c2c;
        text-align: center;
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.15;
    }

    .event-button-box {
        border-bottom: 0px solid #909090;
    }

    .event-button-box > button {
        letter-spacing: 0.05rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .form-box {
        margin: 0.5rem 2rem 0.5rem 2rem;
        padding: 1rem;
        display: inline-block;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .username-box {
    }

    .username-box > input {
        border: 1px solid #909090;
    }

    .password-box {
    }

    .password-box > input {
        border: 1px solid #909090;
    }

    .form-buttons {
        align-items: center;
    }


    /* Split the screen in half */
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .left {
        left: 0;
    }

    /* Control the right side */
    .right {
        right: 0;
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* Style the image inside the centered container, if needed */
    .centered img {
        width: 150px;
        border-radius: 50%;
    }
</style>
