<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p style="text-align: center;">Settings</p>
<form style="text-align: center;" id="changeconfig" method="post" action="/config">
    <table  align="center">
        <tbody>
        <th colspan="2">Settings</th>
        <tr th:each="property : ${properties}">
            <td><p align="left">[[${property.key}]] :</p></td>
            <td><input align="right" type="text"  th:name="${property.key}" th:value="${property.value}"></td>
        </tr>



        </tbody>
    </table>
    <input type="submit" value="Change"/>
</form>
<form style="text-align: center;" method="post" action="/config">
    <p>Testmail senden an:<input type="text" name="receiver" /><input type="submit" value="Send"/></p>
</form>

</body>
</html>s